services:
  app:
    build: .
    ports:
      - "3000:3000"
  database:
    image: mysql/mysql-server
    ports:
      - "3306:3306"
    volumes:
      - database-data:/var/lib/mysql

volumes:
  database-data:
