name: App Deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout branch"
        if: ${{github.ref_name != 'main'}}
        uses: actions/checkout@v5
        with:
          ref: main
      - name: "Echo simple"
        run: echo "test ${{github.ref}}"
