name: App Deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout branch"
        if: ${{github.ref_name != 'main'}}
        uses: actions/checkout@v5
        with:
          ref: main
      - name: "Deploy"
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{secrets.HOST_USERNAME}}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.HOST_PORT }}
          script: |
            cd /srv/fiddle
            git pull origin main
            docker compose pull
            docker compose -f compose.yaml -f compose.production.yaml up -d --force-recreate
